
.vs/HousePrice/DesignTimeBuild/

.vs/HousePrice/FileContentIndex/

.vs/HousePrice/v17/

.vs/ProjectEvaluation/

.vs/

HousePrice/bin/Debug/net9.0/

HousePrice/obj/Debug/net9.0/compressed/

HousePrice/obj/Debug/net9.0/

HousePrice/obj/
